<% include ../partials/header %>


<div class="ui main text container segment">
    <div class="ui huge header">User Login</div>
    <form class="ui form" action="/login" method="POST">
        
        <div class="field">
            <label>Username</label>
            <input type="text" name="username" placeholder="username">
        </div>
        
        <div class="field">
            <label>Password</label>
            <input type="password" name="password" placeholder="password">
        </div>
        
        
        <input class="ui violet basic button " type="Submit">
        
        
    </form>

<a href="/">Go Back</a>
</div>


<% include ../partials/footer %>


